<div class="container">
  <h1 class="text-center mt-4 mb-2">Your Post</h1>
  <div class="card mb-2 shadow" >
    <h2 class="card-header text-center p-2">
      <%= @post.user.email%>
    </h2>
    <h3 class="card-item text-center">
      <%= @post.body%>
    </h3>
  </div>
</div>
